.submit-button{
    background-color: #A20303;
    border-radius: 5px;
    color: white;
    padding: 10px 20px; 
    cursor: pointer; 
    width: 50%;
    font-size: 18px;
    margin-top: 20px;
    justify-content: center;
    display: block;
    text-align: center;
    margin: 0 auto;

}
body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    background-image: url('images/backg.png');
}
.logo{
    width: 375px;
    height: 375px;
    align-items: center;
    display: block;
    margin:  auto;
    margin-top: 70px;
}
.input-field{
    align-items: center;
    background-color: #D9D9D9;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
    width: 50%;
    margin:0 auto;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    display: block;
}
h2{
    text-align: center;
}
.gender{
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top:8p;
    color: white;
    font-family: Arial, sans-serif;

}
.but{
    background-color: #A20303;
    border-radius: 5px;
    color: white;
    width: 80px;
}
nav {
    background: white;
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .nav-links a {
    margin-left: 1rem;
    color: #b91c1c;
    text-decoration: none;
  }
  html{
    scroll-behavior: smooth;
}